html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, h2, i {
    color: #800000;
}

h3, h4 {
    color: #0000FF;
}

h5, h6 {
    color: #800080;
}

/** {
    font-family: "Arial"
}*/

.btn-primary {
    color: #fff;
    background-color: #800000;
    border-color: #800000;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #800000;
        border-color: #800000;
    }

.btn-danger {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #5c636a;
        border-color: #565e64;
    }

button {
    border-radius: 10%;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*From Appa*/

* {
    font-family: 'Segoe UI';
    word-spacing: 1px;
    letter-spacing: 1.25px;
}

footer {
    height: 3rem;
}

/*.form-floating input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}*/

/*#btnUp {
    cursor: pointer;
    width: 25px;
    height: 25px;
    float: left;
}

#btnUp {
    background-image: url('../assets/images/svg/email.svg')
}

#btnUp:hover {
    background-image: url('../assets/images/svg/email_white.svg')
}

.banner {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../assets/images/svg/email_white.svg) no-repeat;
    width: 18px;*/ /* Width of new image */
/*height: 23px;*/ /* Height of new image */
/*padding-left: 180px;*/ /* Equal to width of new image */
/*}*/

.input-Style {
    /*outline: 0;
    border-width: 0 0 1px;
    border-color: blue*/
    /* border: none;
    border-bottom: 0.5px solid #1890ff;
    padding: 5px 10px;
    outline: none;*/
}

input:focus {
    border-color: green;
    outline: 1px dotted #000
}

.align-left {
    text-align: start;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logoSvg {
    background: url( '../assets/images//svg/logo.svg' );
}

.text-Maroon {
    color: #AE2029;
    text-shadow: 0.5px 0.5px 1px #8F0B0B;
    ;
}

.maroonColor {
    background-color: #AE2029;
    # /*671819*/ /*#8F011B*/; /*#AE2029*/ /*#8F0B0B*/
    ; /*#8F011B*/ /*#78081C*/ /*#670E10 */
    ;
}

.icon-size: {
    width: 0.25em;
    height: 0.25em;
}

.setMeasurement {
    width: 25em;
    height: 25em;
}

.nav-link {
    color: #fff !important;
}

    .nav-link.active {
        color: #AE2029 !important;
        font-weight: 450;
        background-color: white !important;
    }

.card-style {
    width: 50rem;
    ;
    height: 35rem;
    border: 1px;
    border-color: #AE2029
}

.form-width {
    width: 40rem;
}

.set-dropdown-width {
    width: 23rem;
}

.set-dropdown-height {
    height: 2.5rem;
}

.dropdown-toggle::after {
    float: right;
}

.set-input-height {
    height: .5rem;
}

option {
    padding: 0 24px;
}

select.form-control {
    padding: 0 24px;
}

div.form-floating {
    padding-bottom: 0.70rem;
}
